{% extends 'toDo/base.html' %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">Simple To Do List App</div>
        <div class="panel-body">
            <form method="POST" class="post-form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="activity">activity :</label>
                    <input type="text" name="name" class="form-control" id="activity">
                </div>
                <button type="submit" class="save btn btn-default">Save</button>
            </form>
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            <div class="well well-lg">
                <form method="POST" class="post-form" action="{% url 'toDo:clear_selected' %}">
                    {% csrf_token %}
                     <div style="text-align: right">
                        <button type="submit"  class="btn btn-danger">clear selected list</button>
                    </div>
                </form>
                <form id="todos" method="POST" class="post-form" action="">
                    {% csrf_token %}
                    {% for todo in todos %}
                        <div class="checkbox">
                            <input class="strikethrough" type="checkbox" name="{{todo.id}}"
                            value="{% url 'toDo:curated_todo' todo.id%}"
                            onclick="formaction(this)"
                                {% if todo.is_selected %}
                                    checked
                                {% endif %}
                            />
                            <span id="{{todo.id}}" for="{{todo.id}}">{{ todo.name }}</span>
                        </div>
                    {% endfor %}
                </form>
            </div>
            <script>
                function formaction(checkbox){
                    document.getElementById("todos").action = checkbox.value;
                    document.getElementById("todos").submit()
                }
            </script>
            <style>
                .checkbox {
                    margin-left: 20px;
                }

                .strikethrough:checked + span {
                  text-decoration:line-through
                }
            </style>
        </div>
    </div>

{% endblock %}